* {
  box-sizing: border-box;
}

body {
  background-repeat: repeat-y;
  font-size: 20px;
  color: #081830;
  line-height: 1.5;
  font-family: "Fahkwang", sans-serif;
  padding: 25px;

}



nav {
  padding: 1% 0;
  background-color: #4a4a4a;
  /* #506177; */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  font-family: "Fahkwang", sans-serif;
  text-align: center;
  color: white;
}

nav .a:link{
  color:white;
}
nav .a:visited{
color: white;
}

a:link {
  color: black
}
a:visited {
  color: black;
}
a:hover {
  color: #fa8185;
  font-size: 20px;
}

#portrait {
  width: 30%;
  height: auto;
  left: 0px;
  right: 0px;
  float: left;
  padding: 1%;;
}
.portrait-photo {
  margin: 12px;
  padding: 10px;
  height:100%

}

.short-bio {
  padding: 15px;
  font-size: 30px;
  color: #fa8185;
  background-color: #4a4a4a;
  border: 1px solid #4a4a4a;
  text-align: center;
}

header {
  padding: 25px;
  color: white;
  text-align: center;
  font-size: 4px;
}

.full-bio {
  padding: 20px;
}

.all-proj{
  display: flex;
  flex-direction: column;
}

#move-app, #maintenancetracker-app, #rehearsalspace-app {
  width: 75%;
  height: auto;
  left: 0px;
  right: 0px;
  /* float: left; */
}
.project {
  margin: 15px;
  padding: 5px;
  height: 100%;
}

.project-desc {
  padding: 15px;
  float: left;
  display: flex;
  align-items: center;
}


.move-explanation, .maintenance-explanation, .rehearsal-explanation{
  /* float: left; */

}

.project-photo img{
  background: white;
    padding: 20px;
  margin-left: 20%;
}
.project-name{
  flex: 1;
}
.project-name img{
  height: 75%;

}
.section-title{
  font-size: 25px;
  text-align: center;
  background: #4a4a4a;
  color: white;
}

.proj-break{
  text-align: center;
}

#break1, #break2 {
  padding-top: 35px;
  padding-bottom: 30px;
  width: 75%;
}


@media only screen and (max-width: 560px) {
  .all-proj{
    display: flex;
  }
  .project-photo{
    display: none;
  }
  .project-name{
    height: 230px;
  }
header img{
 width: 330px;
}
  #portrait{
display: none;   
  }
}